.whole {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}

.quiz-box {
    margin: 30px 15px;
}

.question {
    font-size: 17px;
    margin: auto;
}

.question::after {
    display: block;
    margin-top: 10px;
    width: 120px;
    height: 2px;
    content: '';
    background-color: #00ab36;
}

.image-box {
    width: 100%;
    margin: 10px 0;
}

.quiz-img {
    width: 100%;
    vertical-align: bottom;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    display: block;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin: 10px auto;
    font-weight: bold;
}

.correct-answer-button {
    color: #fff;
    background-color: #287dff;
}

.wrong-answer-button {
    color: #fff;
    background-color: #ff5128;
}

.no-pointer {
    pointer-events: none;
}

.response-box {
    background-color: #f5f5f5;
    padding: 17px;
    margin: auto;
    border-radius: 3px;
}

.correct {
    text-decoration: underline #287dff;
    font-size: 16px;
}

.wrong {
    text-decoration: underline #ff5128;
    font-size: 16px;
}

